footer {
  header {
    @include make-flex(column);
    justify-content: space-evenly;
    gap: 2rem;

    font-size: clamp(1rem, 0.84rem + 1vw, 1.2rem);
    line-height: $font-size-h3;
    color: $title-color;
  }
  padding-block: 4.4rem;
  background: $card-color;
}
