section {
  padding-block: 8.4rem;

  &#about {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
      grid-template-areas: "A" "B";
      grid-auto-columns: max-content;
      align-items: center;
      gap: 3.7rem;

      font-weight: 400;
      font-size: 1.8rem;
      line-height: $font-size-h2;

      .col-a {
        width: 100%;

        @include positions(relative);
        grid-area: "A";

        &::after {
          content: "";
          width: 100%;
          height: 90%;
          @include gradient;
          border-right: 0;
          border-radius: 4rem 4rem 0rem;

          left: -3.5rem;
          bottom: 0.5rem;
          z-index: -1;
          @include positions(absolute);
        }
      }

      .col-b {
        grid-area: "B";
      }

      img {
        width: 100%;

        border-radius: 6.2rem 0.4rem 0.4rem 6.2rem;

        transform: translateY(-2.1rem);

        filter: drop-shadow(-2.4rem 2rem 4rem $bg-dk);
      }

      .about-me {
       @include make-flex(flex-start);
        gap: 3.2rem;

        color: $title-color;

        h3 {
          font-weight: 600;
          font-size: $font-size-h3;;
          line-height: 5.4rem;
        }

        h2 {
          font-size: $font-size-h2;
          line-height: $font-size-h2;
          letter-spacing: 0.1rem;
        }

        p {
          font-size: $font-size-paragraph;
          line-height: 2.7rem;

          opacity: 0.61;
        }
      }
    }
  }

  &#what-i-do {
    .wrapper {
      @include make-flex(column);

      gap: 3.2rem;
      text-align: center;

      h2 {
        font-weight: 600;
        font-size: $font-size-h2;
        line-height: $font-size-h2;
        color: $paragraph-color;
        text-transform: uppercase;
      }

      h3 {
        font-size: $font-size-h3;;
        color: $title-color;
      }

      ul.box-exp {
        @include positions(relative);

        @include make-flex(none);

        &::before {
          content: "";
          width: 23rem;
          height: 50%;
          @include gradient;

          @include positions(absolute);
          border-radius: 48% / 48%;
          z-index: -1;
          bottom: -3rem;
        }

        li {
          padding: 2.7rem 1.7rem;
          background: $card-color;

          border-radius: 0.8rem;

          font-size: $font-size-paragraph;

          header {
            @include make-flex(none);
            gap: 2.8rem;

            font-size: $font-size-h2;
            line-height: $font-size-h2;
            color: $title-color;
          }

          img {
            width: max-content;
            padding: 1.2rem;

            background: $card-img-color;
            border-radius: 0.4rem;
          }

          p {
            margin-top: 3.2rem;

            font-size: $font-size-paragraph;
            line-height: 2.7rem;
            color: $title-color;

            opacity: 0.61;
          }
        }
      }
    }
  }

  &#projects {
    .wrapper {
      overflow: hidden;

      img {
        width: 32rem;
        height: 20rem;
      }

      header {
        margin-bottom: 5.1rem;

        @include make-flex(column);

        h2 {
          font-weight: 600;
          font-size: $font-size-h2;
          line-height: $font-size-h2;
          color: $paragraph-color;
          text-transform: uppercase;
          letter-spacing: 0.12rem;
        }

        h3 {
          font-size: $font-size-h3;;
          color: $title-color;
          letter-spacing: 0.12rem;
        }
      }

      ul.projects-list li {
        width: 30rem;
        height: 20rem;

        @include positions(relative);

        span {
          width: calc(100% + 2rem);
          height: 9.6rem;
          padding: 2.4rem;
          background: $card-color;

          @include positions(absolute);
          z-index: 1;
          bottom: -30rem;
          left: 0;

          font-size: clamp(1.6rem, 1.36rem + 0.6667vw, 2rem);
          font-weight: 600;
          line-height: 3rem;
          letter-spacing: 0.12rem;
          color: $title-color;

          visibility: hidden;

          transition: bottom 1s;
        }

        &:hover span {
          bottom: 0rem;

          visibility: visible;
        }
      }

      .swiper-button-next:after,
      .swiper-button-prev:after {
        color: $paragraph-color;
        font-size: 3.2rem;
        padding: 1.2rem;
        border-radius: 0.9rem;
        background: $card-color;

        opacity: 0.78;
      }
    }
  }

  &#contact-me {
    .wrapper {
      background: $card-color;
      padding: 2.7rem 4.7rem;

      text-align: center;
      border-radius: 0.8rem;

      @include make-flex(column);
      gap: 3.2rem;

      header {
        @include make-flex(column);
        gap: 1.2rem;

        font-size: $font-size-h2;
        color: $title-color;

        div {
          background: $card-img-color;
          padding: 1.2rem;
          border-radius: 0.8rem;
        }

        img {
          display: block;

          animation: light-bulb infinite 8s normal;
        }

        div.btns {
          @include make-flex('');
          gap: 2.3rem;
        }
      }
    }

    .wrapper-modal {
      display: none;

      &.active {
        width: 100%;
        height: 100%;
        background-color: $bg-dk-modal;

        @include positions(fixed);
        z-index: 101;
        top: 0;
        left: 0;

        @include make-flex(none);
        backdrop-filter: blur(10rem);

        .modal {
          padding-block: 4.5rem;
          padding-inline: 2.5rem;
          height: 50%;
          background: $card-color;

          @include positions(fixed);
          z-index: 101;

          border-radius: 0.8rem;

          @include make-flex(column);
          gap: 3.2rem;

          font-weight: 600;
          font-size: clamp(1.4rem, 1.28rem + 0.3333vw, 1.6rem);
          line-height: 2.1rem;
          letter-spacing: 0.14rem;
          color: $title-color;

          .btns {
          @include make-flex(none);
            gap: 2.3rem;
          }
        }

        ul.contact-list {
          margin-top: 3.2rem;

          @include make-flex(none);
          gap: 2.5rem;

          li {
            transition: filter 0.3s;

            &:hover {
              filter: drop-shadow(0rem 0rem 1.2rem $paragraph-color);

              a {
                filter: brightness(1.2);
              }
            }

            a {
              background: $card-img-color;
              padding: 1rem;
              border-radius: 0.8rem;

              transition: filter 0.9s;
            }
          }

          svg {
            width: min(3rem);
            height: min(3rem);
          }

          i {
            font-size: 2.8rem;
            color: $paragraph-color;
          }
        }
      }
    }
  }
}
