$bg-dk: #212121;
$bg-dk-modal: #000000af;

$paragraph-color: #4c70ef;
$title-color: #ffffff;

$font-size-h2: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
$font-size-h3: clamp(1.8rem, 0.72rem + 3vw, 3.6rem);
$font-size-paragraph: clamp(1.6rem, 1.48rem + 0.3333vw, 1.8rem);

$gradient-color-thumb1: #556270;
$gradient-color-thumb2: #ff6b6b;
$gradient-color1: #ffffff;
$gradient-color2: #ffffff00;

$card-color: #292c36;
$card-img-color: #38405a;
