* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

:root {
  --bg-dk: #212121;
  --gradient: linear-gradient(
    131deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  --gadient-thumb: linear-gradient(to bottom, #556270, #ff6b6b);

  --line-height-h2: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
  --line-height-h3: clamp(1.8rem, 0.72rem + 3vw, 3.6rem);

  --f-color: #4c70ef;
  --t-color: #ffffff;

  --card-color: #292c36;
  --card-img-color: #38405a;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: var(--gadient-thumb);
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: var(--bg-dk);
}

main {
  padding-inline: 4.6rem;
}

section {
  padding-block: 8.4rem;
}

a {
  display: block;
}

.col-a {
  grid-area: "A";
}

.col-b {
  grid-area: "B";
}

/* Header */

header#main-title {
  height: 50.2rem;
  margin-bottom: 20.7rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;

  color: var(--t-color);

  font-size: clamp(1.6rem, -0.68rem + 6.3333vw, 4.4rem);
  line-height: clamp(5.6rem, 3.2rem + 6.6667vw, 9.6rem);
}

header#main-title h3,
header#main-title h2 {
  font-size: clamp(1.6rem, 1.12rem + 1.3333vw, 4.4rem);
}

header#main-title ul.social-list {
  margin-bottom: 3rem;

  display: flex;
  gap: 3.2rem;
}

header#main-title ul.social-list li a {
  font-size: clamp(2.5rem, -0.68rem + 6.3333vw, 3.2rem);
  color: var(--t-color);

  transition: opacity 0.8s;
}

header#main-title ul.social-list li:hover a {
  opacity: 0.7;
}

header#main-title .arrow-bottom {
  width: 6rem;
  height: 6rem;
  background: url(../assets/icons//arrow.png) no-repeat;
  background-size: cover;
  display: block;

  animation: slide-bottom 2.7s infinite alternate-reverse;
}

header#main-title::before {
  content: "";
  width: 100%;
  height: 89rem;
  background: url(../assets/telas-de-computadores-com-códigos.jpg);
  background-size: cover;

  position: absolute;
  z-index: -1;

  filter: blur(0.6rem);
}

/* ====SECTION-ABOUT==== */

section#about .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  grid-template-areas: "A" "B";
  grid-auto-columns: max-content;
  align-items: center;
  gap: 3.7rem;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: clamp(1.9rem, 1.42rem + 1.3333vw, 2.7rem);
}

section#about img {
  width: 100%;

  border-radius: 6.2rem 0.4rem 0.4rem 6.2rem;

  transform: translateY(-2.1rem);

  filter: drop-shadow(-2.4rem 2rem 4rem #000);
}

section#about .col-a {
  width: 100%;

  position: relative;
}

section#about .col-a::after {
  content: "";
  width: 100%;
  height: 90%;
  background: var(--gradient);
  border-right: 0;
  border-radius: 4rem 4rem 0rem;

  left: -3.5rem;
  bottom: 0.5rem;
  z-index: -1;
  position: absolute;
}

section#about .about-me {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 3.2rem;

  color: var(--t-color);
}

section#about .about-me h3 {
  font-weight: 600;
  font-size: clamp(1.8rem, 0.72rem + 3vw, 3.6rem);
  line-height: 5.4rem;
}

section#about .about-me h2 {
  font-size: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
}

section#about .about-me p {
  font-size: clamp(1.6rem, 1.48rem + 0.3333vw, 1.8rem);
  line-height: 2.7rem;

  opacity: 0.61;
}

/* ====SECTION-WHAT-I-DO==== */

section#what-i-do .wrapper {
  display: flex;
  flex-flow: column;

  gap: 3.2rem;
  text-align: center;
}

section#what-i-do .wrapper header h2 {
  font-weight: 600;
  font-size: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
  line-height: 3.6rem;
  color: var(--f-color);
  text-transform: uppercase;
}

section#what-i-do .wrapper > header h3 {
  font-size: clamp(1.8rem, 0.72rem + 3vw, 3.6rem);
  color: var(--t-color);
}

section#what-i-do ul.box-exp {
  position: relative;

  display: flex;
  justify-content: center;
}

section#what-i-do ul.box-exp li {
  padding: 2.7rem 1.7rem;
  background: var(--card-color);

  border-radius: 0.8rem;

  font-size: clamp(1.6rem, 1.48rem + 0.3333vw, 1.8rem);
}

section#what-i-do ul.box-exp::before {
  content: "";
  width: 25rem;
  height: 50%;
  background: var(--gradient);

  position: absolute;
  border-radius: 48% / 48%;
  z-index: -1;
  bottom: -3rem;
}

section#what-i-do ul.box-exp li > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;

  font-size: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
  line-height: 3.6rem;
  color: var(--t-color);
}

section#what-i-do ul.box-exp li img {
  width: max-content;
  padding: 1.2rem;

  background: var(--card-img-color);
  border-radius: 0.4rem;
}

section#what-i-do ul.box-exp li p {
  margin-top: 3.2rem;

  font-size: clamp(1.6rem, 1.48rem + 0.3333vw, 1.8rem);
  line-height: 2.7rem;
  color: var(--t-color);

  opacity: 0.61;
}

/* ====SECTION-PROJECTS==== */

section#projects .wrapper {
  overflow: hidden;
}
section#projects .wrapper img {
  width: 100%;
}

section#projects .wrapper header {
  margin-bottom: 5.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section#projects .wrapper > header h2 {
  font-weight: 600;
  font-size: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
  line-height: 3.6rem;
  color: var(--f-color);
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

section#projects .wrapper > header h3 {
  font-size: clamp(1.8rem, 0.72rem + 3vw, 3.6rem);
  color: var(--t-color);
  letter-spacing: 0.12rem;
}

section#projects ul.projects-list li {
  width: 30rem;
  height: 20rem;

  position: relative;
}

section#projects ul.projects-list span {
  width: calc(100% + 0.1rem);
  height: 9.6rem;
  padding: 2.4rem;
  background: var(--card-color);

  position: absolute;
  z-index: 1;
  bottom: -30rem;
  left: 0;

  font-size: clamp(1.6rem, 1.36rem + 0.6667vw, 2rem);
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.12rem;
  color: var(--t-color);

  visibility: hidden;

  transition: bottom 1s;
}

section#projects ul.projects-list li:hover span {
  bottom: 0rem;

  visibility: visible;
}

section#contact-me .wrapper {
  background: var(--card-color);
  padding: 2.7rem 4.7rem;

  text-align: center;
  border-radius: 0.8rem;

  display: flex;
  gap: 3.2rem;
  flex-flow: column;
  align-items: center;
}

/* ====SECTION-CONTACT-ME==== */

section#contact-me .wrapper header {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.2rem;

  font-size: clamp(1.8rem, 1.44rem + 1vw, 2.4rem);
  color: var(--t-color);
}

section#contact-me .wrapper header div {
  background: var(--card-img-color);
  padding: 1.2rem;
  border-radius: 0.8rem;
}

section#contact-me .wrapper header img {
  display: block;

  animation: light-bulb infinite 8s normal;
}

section#contact-me .wrapper .btns,
section#contact-me .wrapper-modal .modal .btns {
  display: flex;
  justify-content: center;
  gap: 2.3rem;
}

section#contact-me .wrapper .btn-custom,
section#contact-me .modal .btn-custom {
  padding: 1.8rem;
  background: transparent;

  border: 0.1rem solid var(--f-color);
  border-radius: 0.8rem;

  font-weight: 600;
  font-size: clamp(1.4rem, 1.28rem + 0.3333vw, 1.6rem);
  line-height: 2.1rem;
  letter-spacing: 0.14rem;
  color: var(--t-color);

  cursor: pointer;

  transition: background 0.7s;
}

section#contact-me .wrapper .btn-custom:hover,
section#contact-me .modal .btn-custom:hover {
  background: var(--f-color);
}

/* ====SECTION-CONTACT-ME=====
============MODAL============= */

section#contact-me .wrapper-modal {
  display: none;
}

section#contact-me .wrapper-modal.active {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.687);

  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (backdrop-filter: blur(10rem)) {
  section#contact-me .wrapper-modal.active {
    background-color: rgba(0, 0, 0, 0.687);
    backdrop-filter: blur(10rem);
  }
}

section#contact-me .wrapper-modal.active .modal {
  padding-block: 4.5rem;
  padding-inline: 2.5rem;
  height: 50%;
  background: var(--card-color);

  position: fixed;
  z-index: 101;

  border-radius: 0.8rem;

  display: flex;
  gap: 3.2rem;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: clamp(1.4rem, 1.28rem + 0.3333vw, 1.6rem);
  line-height: 2.1rem;
  letter-spacing: 0.14rem;
  color: var(--t-color);
}

section#contact-me .wrapper-modal.active ul.contact-list {
  margin-top: 3.2rem;

  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
}

section#contact-me .wrapper-modal.active ul.contact-list li a {
  background: var(--card-img-color);
  padding: 1rem;
  border-radius: 0.8rem;

  transition: filter 0.9s;
}

section#contact-me .wrapper-modal.active ul.contact-list li {
  transition: filter 0.3s;
}

section#contact-me .wrapper-modal.active ul.contact-list svg {
  width: min(3rem);
  height: min(3rem);
}

section#contact-me .wrapper-modal.active ul.contact-list li:hover {
  filter: drop-shadow(0rem 0rem 1.2rem var(--f-color));
}

section#contact-me .wrapper-modal.active ul.contact-list li:hover a svg {
  filter: brightness(1.2);
}

section#contact-me .wrapper-modal.active svg.whatsIcon * {
  stroke: transparent;
  fill: var(--f-color);
}

section#contact-me .wrapper-modal.active svg.mailIcon * {
  stroke: var(--f-color);
}

button.arrow-top {
  width: 5.2rem;
  height: 5.2rem;
  background: url(../assets/icons/arrow.png);
  background-size: cover;

  transform: rotateX(180deg);

  position: fixed;
  right: -6.2rem;
  bottom: 3.2rem;
  z-index: 100;

  transition: all 0.7s;

  cursor: pointer;
}

button.arrow-top.active {
  right: 3.2rem;
}

button.arrow-top.active:hover {
  opacity: 0.8;
}

/* ====FOOTER===== */

footer {
  padding-block: 4.4rem;
  background: var(--card-color);
}

footer img {
  height: 6rem;
  width: 6rem;

  transition: transform 2.3s;
}

footer:hover img {
  transform: rotate(360deg);
}

footer header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.8rem;

  font-size: clamp(1rem, 0.84rem + 1vw, 1.2rem);
  line-height: var(--line-height-h3);
  color: var(--t-color);
}

/* ====ANIMATIONS===== */

@keyframes light-bulb {
  0% {
    filter: drop-shadow(0rem 0rem -3rem #f1c40f);
  }

  50% {
    filter: drop-shadow(0rem 0rem 1.5rem #f1c40f);
  }

  100% {
    filter: drop-shadow(0rem 0rem 0rem #f1c40f);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
}
